table.data-table {
    border: $padding-1 solid var(--gray-200);
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    overflow-y: scroll;

    tbody {
        &:nth-child(even) {
            background-color: var(--gray-100);
        }
    }

    td,
    th {
        border: $padding-1 solid var(--gray-200);
        text-align: left;
        padding: $padding-8;
    }
}
